.about-kicker,
.about-header,
.about-text,
.bio-text {
  margin-left: 15%;
  margin-right: 15%;
}

.headshot {
  border-radius: 100%;
  height: 200px;
  width: 200px;
}

@media (max-width: 767px) {
  .wordmark {
    height: 60px;
  }
  .headshot {
    height: 150px;
    width: 150px;
  }
  .about-kicker,
  .about-header,
  .about-text,
  .bio-text {
    margin-left: 5%;
    margin-right: 5%;
  }
  .about-kicker {
    font-size: 35px;
  }
  .about-header {
    font-size: 28px;
  }
}

.icon {
  padding: 10px;
}

.icon:hover {
  filter: drop-shadow(0px 0px 15px rgb(255, 120, 0));
}
