.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

@font-face {
  font-family: "ChunkFive";
  src: url(./fonts/ChunkFive.otf) format("opentype");
}

body {
  background-color: #1d1d1d;
  color: white;
  background-size: auto;
  padding-top: 50px;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: #e7e7e7;
  color: black;
}

.delete:hover,
.cancel:hover {
  background-color: #f67f76;
  color: white;
}

.trans-details {
  list-style: none;
  width: auto;
}

.submit {
  background-color: #008cba;
  border: none;
  color: white;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.submit:hover {
  background-color: #e7e7e7;
  color: black;
}

h1,
h2,
h3,
h4 {
  font-family: ChunkFive;
  font-weight: 400;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  margin: 5px;
}

h4 {
  font-size: 22px;
  margin: 5px;
}

a {
  color: rgb(255, 120, 0);
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover {
  color: white;
}
